
## **1. 공공데이터 활용한 통계분석**

국가 통계 포털에서 아래 이미지를 참조하여

**2020년 8월**에 해당하는 규모별 미분양현황 에 대한 데이터셋을 생성하였습니다. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

In [ ]:
# 필요한 Lib Import

import pandas as pd
from google.colab import files
import io
import numpy as np
from scipy.stats import chisquare

In [ ]:
# 데이터셋을 Load
data = files.upload()

Saving 규모별_미분양현황_20210106123022.xlsx to 규모별_미분양현황_20210106123022.xlsx

In [ ]:
data = pd.read_excel(io.BytesIO(data['규모별_미분양현황_20210106123022.xlsx']))

**데이터셋의 가시성을 높이는 작업을 수행한 후, 데이터셋을 확인합니다.**

In [ ]:
data.iloc[0:5,0]=data.iloc[0:5,0].fillna('서울')
data.iloc[5:11,0]=data.iloc[5:11,0].fillna('부산')
data.iloc[10:16,0]=data.iloc[10:16,0].fillna('대구')
data.iloc[15:,0]=data.iloc[15:,0].fillna('대전')

In [ ]:
data.iloc[0:3,1]=data.iloc[0:3,1].fillna('공공부문')
data.iloc[2:6,1]=data.iloc[2:6,1].fillna('민간부문')
data.iloc[5:8,1]=data.iloc[5:8,1].fillna('공공부문')
data.iloc[7:11,1]=data.iloc[7:11,1].fillna('민간부문')
data.iloc[10:13,1]=data.iloc[10:13,1].fillna('공공부문')
data.iloc[12:16,1]=data.iloc[12:16,1].fillna('민간부문')
data.iloc[15:18,1]=data.iloc[15:18,1].fillna('공공부문')
data.iloc[17:,1]=data.iloc[17:,1].fillna('민간부문')

In [ ]:
data

   시도(1) 부문(1)   규모(1)  2020. 08
0     서울  공공부문   60㎡이하         0
1     서울  공공부문  60〜85㎡         0
2     서울  민간부문   60㎡이하        54
3     서울  민간부문  60〜85㎡         2
4     서울  민간부문   85㎡초과         0
5     부산  공공부문   60㎡이하         0
6     부산  공공부문  60〜85㎡         0
7     부산  민간부문   60㎡이하       577
8     부산  민간부문  60〜85㎡       735
9     부산  민간부문   85㎡초과       142
10    대구  공공부문   60㎡이하         0
11    대구  공공부문  60〜85㎡         0
12    대구  민간부문   60㎡이하       143
13    대구  민간부문  60〜85㎡      1437
14    대구  민간부문   85㎡초과        44
15    대전  공공부문   60㎡이하         0
16    대전  공공부문  60〜85㎡         0
17    대전  민간부문   60㎡이하       782
18    대전  민간부문  60〜85㎡         1
19    대전  민간부문   85㎡초과         0

### **1. 지역에 대해서 One-Sample Chi-Square Test**

In [ ]:
data_1 = data[data['시도(1)']=='서울']
data_2 = data[data['시도(1)']=='대전']
data_3 = data[data['시도(1)']=='대구']
data_4 = data[data['시도(1)']=='부산']

In [ ]:
array= np.array([[data_1['2020. 08'].sum(), data_2['2020. 08'].sum(), data_3['2020. 08'].sum(), data_4['2020. 08'].sum()]])
chisquare(array,axis=None)

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

**결론:** pvalue가 0이므로, **각 지역 별 미분양 건축 수의 확률이 같지 않다**고 해석합니다.

### **2. 지역과 규모에 대해서 Two-Sample Chi-Square Test**

In [ ]:
from scipy.stats import chi2_contingency

data_samp=pd.crosstab(data['시도(1)'],data['규모(1)'])
data_samp

규모(1)  60〜85㎡  60㎡이하  85㎡초과
시도(1)
대구          2      2      1
대전          2      2      1
부산          2      2      1
서울          2      2      1

In [ ]:
print(chi2_contingency(data_samp, correction=True))
print(chi2_contingency(data_samp, correction=False))
print('\n')
print('pvalue가 0.5보다 크므로 귀무가설을 기각할 수 없다. 따라서 각 지역과 규모라는 변수 사이에 연관성이 없다.')

(0.0, 1.0, 6, array([[2., 2., 1.],
       [2., 2., 1.],
       [2., 2., 1.],
       [2., 2., 1.]]))
(0.0, 1.0, 6, array([[2., 2., 1.],
       [2., 2., 1.],
       [2., 2., 1.],
       [2., 2., 1.]]))


pvalue가 0.5보다 크므로 귀무가설을 기각할 수 없다. 따라서 각 지역과 규모라는 변수 사이에 연관성이 없다.

### **2번에 대해서 NumPy 를 사용하여 (Scipy를 사용하지 않고) Chi-Square Test**

In [ ]:
li = np.array([[data_1['2020. 08'].sum(), data_2['2020. 08'].sum(), data_3['2020. 08'].sum(), data_4['2020. 08'].sum()]])
a = []
num= np.arange(4)
co = 0

for i in li:
  b=[((i-(li.sum()/4))*(i-(li.sum()/4)))/(li.sum()/4)]
  a=a+b

print('2번의 통계값은 1564.4572376818994이고, 4번의 계산값은 ', np.sum(a), '이므로, 결과가 같다.')

2번의 통계값은 1564.4572376818994이고, 4번의 계산값은  1564.4572376818994 이므로, 결과가 같다.

**결론: Numpy를 사용하든, Chi-Square Test 를 사용하든, 계산 과정은 동일하므로 결과값이 같은 것을 알 수 있습니다.**