## **1. 1-Sample T-tests 연습**

서울시 가로수 데이터셋을 활용해, 1-Sample T-Tests를 활용해보겠습니다.

(사실 이 데이터는 T-test를 연습하기에 최적인 데이터셋이 아닙니다, python에서 어떻게 T-test를 구현하는지 시도해보기 위한 과정이오니 이점 유의 부탁드립니다. )

In [ ]:
# 필요한 lib Import, 데이터셋을 Load 합니다.

import pandas as pd
import numpy as np
from scipy import stats

trees=pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep='\t', skiprows=1)
trees

      기간      자치구    노선수       수량     은행나무  ...    무궁화    소나무   목련    이팝나무      기타
0   2019      서울시  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1   2019      종로구     70    7,329    4,072  ...      -    239    -     711      29
2   2019       중구     48    8,250    3,640  ...     46  2,162    -     470     817
3   2019      용산구     39    7,835    4,444  ...      -     51  126     198     780
4   2019      성동구     38    8,120    1,090  ...      -     53    -     709     646
5   2019      광진구     28    7,223    1,247  ...      -     20  113     760     443
6   2019     동대문구     43   10,664    3,749  ...      1      -    -   1,176     456
7   2019      중랑구     57    8,365    2,774  ...    212     64    -     449   1,156
8   2019      성북구     78    8,449    2,722  ...      5     97    -     853     547
9   2019      강북구     31    7,789    3,510  ...      -  1,007    -     575     410
10  2019      도봉구     63    9,572    4,914  ...    214     15    -      47   1,070
11  2019      노원구     50   14,489    6,505  ...    150     32    1     142   1,135
12  2019      은평구     35    9,880    4,324  ...      3      -    -     443     582
13  2019     서대문구     39    8,627    3,474  ...     70      -    -     493   1,120
14  2019      마포구     92   14,538    3,353  ...      -    124   93   1,280     348
15  2019      양천구     69   13,501    5,622  ...    197      -    -     784     595
16  2019      강서구     55   13,719    3,977  ...     59    282    -   1,426     568
17  2019      구로구     81   11,548    3,594  ...      -     30   26   1,082   1,210
18  2019      금천구     30    6,603    3,545  ...      -      5    -     184      69
19  2019     영등포구    114   18,220    5,879  ...      -     40   19   1,281     651
20  2019      동작구     29    7,083    2,178  ...    206      7    -     397     794
21  2019      관악구     32   10,154    2,280  ...  1,120     59    -     249   1,194
22  2019      서초구     56   16,548    3,800  ...     91      -    -     446   1,143
23  2019      강남구     60   23,349    7,210  ...      -      -    -     768     913
24  2019      송파구     99   22,858   11,894  ...      -    215    -   1,651     450
25  2019      강동구     66   17,152    5,474  ...      -      -    -     642   1,969
26  2019  공원녹지사업소      1      236      179  ...      -      -    -       4       -
27  2019   시설관리공단      9   15,250    2,600  ...      -     37    -   2,868   1,017

[28 rows x 24 columns]

In [ ]:
# 데이터셋(trees)의 타입을 살펴봅니다.

trees.dtypes

기간         int64
자치구       object
노선수       object
수량        object
은행나무      object
양버즘나무     object
느티나무      object
왕벚나무      object
은단풍나무     object
메타세콰이어    object
회화나무      object
가죽나무      object
감나무       object
수양버들      object
튜울립나무     object
칠엽수       object
포플러       object
느릅나무      object
살구나무      object
무궁화       object
소나무       object
목련        object
이팝나무      object
기타        object
dtype: object

In [ ]:
# 데이터 분석을 할 수 있도록, 전처리를 간단히 진행합니다.

trees=trees.replace({'-':'0'})
num= np.arange(2,len(trees.columns))

for i in num:
  trees.iloc[:,i]=pd.to_numeric(trees.iloc[:,i].str.replace(',',''))

### **가설검정**

**서울시에는 구별로 평균적으로 약 400 그루 정도의 `이팝나무`가 있다** 라는 가설에 대해 가설검정을 시행해보겠습니다.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.

In [ ]:
# 데이터셋에서, '서울시, 공원녹지사업소, 시설관리공단'은 필요치 않으므로 제거합니다.

trees = trees[trees.자치구.isin(['서울시','공원녹지사업소','시설관리공단'])==False]

In [ ]:
# 데이터셋의 타입을 살펴봅니다.

trees.dtypes

기간         int64
자치구       object
노선수        int64
수량         int64
은행나무       int64
양버즘나무      int64
느티나무       int64
왕벚나무       int64
은단풍나무      int64
메타세콰이어     int64
회화나무       int64
가죽나무       int64
감나무        int64
수양버들       int64
튜울립나무      int64
칠엽수        int64
포플러        int64
느릅나무       int64
살구나무       int64
무궁화        int64
소나무        int64
목련         int64
이팝나무       int64
기타         int64
dtype: object

In [ ]:
# 가설에 대한 1-Sample T-test를 시행합니다.

stats.ttest_1samp(trees['이팝나무'],400)

Ttest_1sampResult(statistic=3.3809205562101288, pvalue=0.002470712850935819)

위의 셀의 결과에 따르면, **pvalue가 0.05보다 작으므로 귀무가설을 기각할 수 있습니다.** 따라서, 구 별로 평균 400그루의 이팝나무가 있지 **않다고 볼 수 있습니다.**

### **샘플링 후 분석**

이번에는 10개의 구를 샘플링하여, 위에 대한 가설검정을 다시 한번 시행해보겠습니다.

이때, Sample Seed 는 123으로 설정하겠습니다.

In [ ]:
# 자치구 중 10개의 구를 랜덤샘플링하여 데이터셋을 구성합니다.

np.random.seed(123)
seoul = np.random.choice(trees['자치구'], size = 10)

sample = trees[trees.자치구.isin(seoul)]
sample

      기간  자치구  노선수     수량  은행나무  양버즘나무  ...  살구나무  무궁화   소나무   목련  이팝나무    기타
1   2019  종로구   70   7329  4072   1071  ...     0    0   239    0   711    29
2   2019   중구   48   8250  3640    162  ...    21   46  2162    0   470   817
3   2019  용산구   39   7835  4444   1422  ...    39    0    51  126   198   780
7   2019  중랑구   57   8365  2774   2759  ...     0  212    64    0   449  1156
11  2019  노원구   50  14489  6505   3336  ...    58  150    32    1   142  1135
14  2019  마포구   92  14538  3353   3581  ...    64    0   124   93  1280   348
18  2019  금천구   30   6603  3545   1024  ...     0    0     5    0   184    69
20  2019  동작구   29   7083  2178    829  ...     0  206     7    0   397   794
23  2019  강남구   60  23349  7210   7559  ...     0    0     0    0   768   913

[9 rows x 24 columns]

In [ ]:
# 어떤 구가 샘플링되었는지 확인해봅니다.
seoul

array(['마포구', '용산구', '용산구', '중랑구', '금천구', '동작구', '노원구', '강남구', '중구',
       '종로구'], dtype=object)

In [ ]:
# 1-Sample T-test를 재시행합니다.

stats.ttest_1samp(sample['이팝나무'],400)

Ttest_1sampResult(statistic=0.9161230024114426, pvalue=0.38638498922886266)

위의 셀의 결과에 따르면, **pvalue가 0.05보다 크므로 귀무가설을 기각할 수 없습니다.** 따라서, **해당 구들의 이팝나무 평균은 400과 유의미한 차이가 없다고 볼 수 있습니다.**

왜 두 t-test의 결론이, 동일한 데이터셋임에도 불구하고 다른 결론이 나왔냐면,
**표본집단이 다르기 때문입니다.**

## **2. 2-Sample T-tests 연습**

**서울시의 구별 평균 느티나무수와 왕벚나무의 수는 차이가 없다** 라는 가설에 대해 가설검정을 시행해보겠습니다.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 이전처럼 제외해보겠습니다. (아까 trees 데이터셋에서 상기 세 부분의 데이터는 삭제했으므로, 그대로 진행합니다.)

In [ ]:
# 느티나무와 왕벚나무를 비교하는 2-Sample T-test를 시행합니다.

stats.ttest_ind(trees['느티나무'],trees['왕벚나무'])

Ttest_indResult(statistic=0.4629256014492562, pvalue=0.6455096880085703)

pvalue값이 0.05보다 크므로 귀무가설을 기각할 수 없습니다. 따라서 **서울시 구별 느티나무와 왕벚나무 수의 평균은 유의미한 차이가 있다고 볼 수 있습니다.**

### **가설검정**
**One-tailed test**를 사용하여 평균 느티나무수가 왕벚나무 수보다 크다라는 가설에 대한 가설검정을 시행해보겠습니다.

In [ ]:
# One-tailed test
t, p = stats.ttest_ind(trees['느티나무'], trees['왕벚나무'])
print('T는'+str(t)+'이며 양수이므로, 평균 느티나무수가 평균 왕벚나무 수보다 더 크다. 검증 결과는 다음과 같다.')



# One-tailed test 값이 맞는지 실제 평균값 비교
tr_1=trees['느티나무'].mean()
tr_2=trees['왕벚나무'].mean()

print('느티나무의 평균 수: ', tr_1, '     왕벚나무의 평균 수: ', tr_2)

T는0.4629256014492562이며 양수이므로, 평균 느티나무수가 평균 왕벚나무 수보다 더 크다. 검증 결과는 다음과 같다.
느티나무의 평균 수:  1415.12      왕벚나무의 평균 수:  1292.0

### **2-Sample T-test 반복**
함수와 반복문을 사용하여 (for loop, .apply(), list 등등) 종로구 vs 다른 모든 자치구에 대해서 two-sample t-test를 시행해보겠습니다.

In [ ]:
seoul = [i for i in trees['자치구'].unique() if i != '종로구']

In [ ]:
for i in seoul:
  print(i,'와 종로구를 비교한 결과: ',stats.ttest_ind(trees[trees['자치구']=='종로구'].iloc[:,4:].mean(),trees[trees['자치구']==i].iloc[:,4:].mean()))

중구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.15881196852153073, pvalue=0.8746580619933407)
용산구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.0824608199206831, pvalue=0.9347131125660982)
성동구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.15369395121767837, pvalue=0.878664376595988)
광진구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=0.02141483026380996, pvalue=0.9830267987603676)
동대문구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.5229772758177852, pvalue=0.6040263502895651)
중랑구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.18455093050321267, pvalue=0.8545626866809344)
성북구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.21207882418296745, pvalue=0.83317901077002)
강북구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.08424906654908992, pvalue=0.9333006978467071)
도봉구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.33713459222284886, pvalue=0.7378705243822862)
노원구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.8688941339013617, pvalue=0.3903600476232031)
은평구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.4089489739052626, pvalue=0.6848728695558757)
서대문구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.22843996854969914, pvalue=0.8205291104610872)
마포구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-1.0692529063248135, pvalue=0.2917010393185178)
양천구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.791892901963994, pvalue=0.43333885831902386)
강서구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.9900312346711023, pvalue=0.32842133245826766)
구로구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.6891426458120065, pvalue=0.4949201870360168)
금천구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=0.1311285708880656, pvalue=0.896365383008305)
영등포구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-1.282433769473305, pvalue=0.2074587151924669)
동작구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=0.049734504207895436, pvalue=0.9605944614729779)
관악구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-0.5051353417701784, pvalue=0.616381063840387)
서초구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-1.1840863542925768, pvalue=0.24373279138484738)
강남구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-1.4530684843076658, pvalue=0.15441350947795215)
송파구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-1.1990277690535969, pvalue=0.23794085129595155)
강동구 와 종로구를 비교한 결과:  Ttest_indResult(statistic=-1.1851759554808161, pvalue=0.24330696326178342)